<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Lista ToDo | TreII0</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <style type="text/css">

    *{
      margin: 0;
      padding: 0;
      font-family: "montserrat",sans-serif;
      box-sizing: border-box;
    }

    html body{
      background-color: #fafafa;
      min-height: 100vh;
    }


    .container{
      margin: auto;
      padding: 10px;
    }

    .divTitulo{
      text-align: center;
      margin-top: 10px;
      margin-bottom: 30px;
    }

    .containerTareas{
      padding-top: 30px;
    }

    .lista{
      list-style-type: none;
    }

    .checked{
      text-decoration: line-through;
      color: #737373;
    }

    .divAñadirItem{
      align-items: center;
      padding: 10px;
    }

    .fas.fa-plus-circle{
      font-size:48px;
      border-radius: 25px;
      cursor: pointer;
      transition: 0.3s;
      background-color: white;
      color: #1a53ff;
    }

    .fas.fa-plus-circle:hover{
      transform: scale(1.15);
    }

    .txtAñadirTarea{
      width: 94%;
      border: none;
      border-bottom: 2px solid #000;
      background: none;
      outline: none;
      font-size: 18px;
    }

    h3{
      margin: 10px 0;
    }

    .divTarea{
      width: 100%;
      background: #e6e6e6;
      padding: 16px;
      margin: 6px 0;
      overflow: hidden;
      transition: 0.1s;
    }

    .divTarea:hover{
      transform: scale(1.05);
    }

    .lblTarea{
      font-size: 18px;
    }

    .divTarea i{
      float: right;
      margin-left: 20px;
      font-size: 18px;
      cursor: pointer;
    }

    </style>

  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/listas">TreII0</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse  navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/listas">Listas</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <form action="/logout" method="post" id="logout" style="margin:0 auto;">
           <a href="#" class="nav-link" id="logoutBtn">Cerrar Sesion</a>
          </form>
        </li>
      </ul>
    </div>
    </nav>

    <!-- Modal -->
    <div class="modal fade" id="modalEditar" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalLabel">Editar</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <textarea class="form-control" rows="2" id="txtItem" ></textarea>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" id="btnGuardar">Guardar</button>
          </div>
        </div>
      </div>
    </div>


    <div class="container" name="contenedor" id="contenedor">

      <div class="divTitulo" id="divTitulo">
        <h2 id="nombreLista"></h2>
      </div>

      <div class="divAñadirItem" id="divAñadirItem">
        <input type="text" class="txtAñadirTarea" placeholder="Agrega una tarea" id="txtNuevaTarea">
        <i class="fas fa-plus-circle" id="iconAñadirItem"></i>
      </div>

      <div class="containerTareas" id="divTareas">
        <ul id="lstTareas" class="lista">
        </ul>
      </div>

    </div>
    <label id="lblIdTareaQueSeEstaEditando" hidden="true"></label>

    <script type="text/javascript">

      class Tarea{
        constructor(id, descripcion, estasTerminada, unOrden){
          this.id = id;
          this.descripcion = descripcion;
          this.estasTerminada = estasTerminada;
          this.orden = unOrden;
        }
        terminate(){
          this.estasTerminada = true;
        }
        pasaAPendiente(){
          this.estasTerminada = false;
        }
      }

      class ListaTareas{
        constructor(unId, unNombre){
          this.id = unId;
          this.nombre = unNombre;
          this.tareas = [];
        }
        agregaUnaTarea(unaTarea){
          this.tareas.push(unaTarea);
        }
        elimina(unaTarea){
          this.tareas = $.grep(this.tareas, function(unaTareaDeLaLista) {
            return unaTareaDeLaLista != unaTarea;
          });
        }
        obteneTareaSegunOrden(unOrden){
          return this.tareas.find(function(unaTarea){
            return unaTarea.orden == unOrden;
          });
        }
        obtenrTareaSegunId(unId){
          return this.tareas.find(function(unaTarea){
            return unaTarea.id == unId;
          });
        }
        moverTodasLasTareasUnaPosicionEntre(posicionInicial, posicionFinal){
          this.tareas.filter(unaTarea => (unaTarea.orden >= posicionInicial) && (unaTarea.orden <= posicionFinal))
            .forEach(unaTarea => unaTarea.orden = unaTarea.orden+1);
        }
      }

      function obtenerNombreLista(){
        return "Lista1";
      }

      function obtenerIdLista(){
        return 1;
      }

      function actualizarOrdenTareasAlMoverlas(){
        listaTareas.tareas.forEach(unaTarea => unaTarea.orden = $("#item"+unaTarea.id).index()+1);
      }

      function generarTareaHtml(unaTarea){

        var liTarea = $("<li></li>");
        liTarea.attr("id", "item"+unaTarea.id);
        var divTarea = $("<div class='divTarea'></div>");

        var lblTarea = $("<label class='lblTarea'></label>");
        lblTarea.attr("id", "lblTarea"+unaTarea.id);
        lblTarea.text(unaTarea.descripcion);

        divTarea.on('click', function(e) {
          if (e.target === this){
            lblTarea.toggleClass("checked");
            unaTarea.estasTerminada = !unaTarea.estasTerminada;
          }
        });

        var imgEliminar = $("<i class='fas fa-trash-alt'></i>").click(function(){
          listaTareas.elimina(unaTarea);
          var p = $(this).parent();
            p.fadeOut(function(){
            p.remove();
            liTarea.remove();
            actualizarOrdenTareasAlMoverlas();
          });
        });

        var imgEditar = $("<i class='fas fa-pen' data-toggle='modal' data-target='#modalEditar'></i>").click(function(){
          $("#txtItem").val(unaTarea.descripcion);
          $("#lblIdTareaQueSeEstaEditando").text(unaTarea.id);
        });

        divTarea.append(imgEliminar, imgEditar, lblTarea);
        liTarea.append(divTarea)
        $("#lstTareas").append(liTarea);

        if(unaTarea.estasTerminada){
          lblTarea.toggleClass("checked");
        }
      }

      function compararTareasSegunOrden(unaTarea, otraTarea){
        return unaTarea.orden - otraTarea.orden;
      }

      function generarTareasHtml(unasTareas){
        unasTareas.sort(compararTareasSegunOrden).forEach(unaTarea => generarTareaHtml(unaTarea));
      }

      function removerTareasHtml(){
        $("#lstTareas").empty();
      }

      function actualizarTareasHtml(unasTareas){
        removerTareasHtml();
        generarTareasHtml(unasTareas);
      }

      var listaTareas; 

      $( document ).ready(function() {
        listaTareas = new ListaTareas(obtenerIdLista(), obtenerNombreLista());
        $( "#nombreLista" ).text(listaTareas.nombre);
      });

      $("#btnGuardar").click(function(){
        var idTareaEditada = parseInt($("#lblIdTareaQueSeEstaEditando").text());
        var tareaEditada = listaTareas.obtenrTareaSegunId(idTareaEditada);
        tareaEditada.descripcion = $("#txtItem").val();
        $("#lblTarea"+idTareaEditada).text(tareaEditada.descripcion);
      });

      $( "#lstTareas" ).sortable({
        update: function(event, ui){
          actualizarOrdenTareasAlMoverlas();
        }
      });
      $( "#lstTareas" ).disableSelection();

      $("#txtNuevaTarea").on("keyup",function(e){
        //13  means enter button
        if(e.keyCode == 13 && $("#txtNuevaTarea").val() != "")
        {
          var descripcionTarea = $("#txtNuevaTarea").val();
          var estaTerminada = false;
          var ordenTarea = listaTareas.tareas.length+1;
          var idTarea = listaTareas.tareas.length;

          var tarea = new Tarea(idTarea, descripcionTarea, estaTerminada, ordenTarea);
          listaTareas.agregaUnaTarea(tarea);

          generarTareaHtml(tarea);

          $("#txtNuevaTarea").val("");
        }
      });

      $("#iconAñadirItem").click(function(){
        if($("#txtNuevaTarea").val() != "")
        {
          var descripcionTarea = $("#txtNuevaTarea").val();
          var estaTerminada = false;
          var ordenTarea = listaTareas.tareas.length+1;
          var idTarea = listaTareas.tareas.length;

          var tarea = new Tarea(idTarea, descripcionTarea, estaTerminada, ordenTarea);
          listaTareas.agregaUnaTarea(tarea);

          generarTareaHtml(tarea);

          $("#txtNuevaTarea").val("");
        }
      });

    </script>

  </body>
</html>